<!doctype html>
<html>
<head>
<style>
body {
    background-color: #282828;
    color: #ebdbb2;
}
</style>
<link rel="stylesheet" href="{{WD}}/css/katex.min.css">
<script src="{{WD}}/js/katex.min.js"></script>
<script src="{{WD}}/js/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
</head>

<body class="card">
<div id="qa">
    {{CONTENT}}
</div>
</body>
</html>
